// LOGO
.header__logo {
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    line-height: calc(28 / 24);
    padding: 16px 0;
    transition: color var(--transition-dur-func);
    &:hover,
    &:focus {
        color: var(--logo-color);
    }
    & > span {
        color: var(--primary-text-color);
    }

    @media screen and(min-width: 768px) {
        margin-right: 88px;
        padding: 26px 0;
    }
    @media screen and(min-width: 1200px) {
        margin-right: 93px;
        padding: 25px 0;
    }
}
// .footer__logo {
//     color: var(--logo-color);
//     font-family: "Raleway";
// }
